body {
    background-image: url('images/constelacion.jpg'); /* Asegúrate de tener esta imagen en la carpeta 'images' */
    background-size: cover; /* La imagen cubre todo el fondo de la pantalla */
    background-position: center; /* La imagen se centra correctamente en la pantalla */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

h1 {
    color: hwb(33 75% 6%); /* Asegura que el color sea el deseado, hwb es una alternativa a rgb y hex */
}

form {
    margin-bottom: 20px; /* Espacio después del formulario */
}

label {
    display: block; /* Hace que la etiqueta ocupe toda la línea, facilitando la organización */
    margin-top: 10px; /* Espacio antes de cada etiqueta */
}

input {
    margin-top: 5px; /* Espacio superior para separar de otros elementos */
    padding: 5px; /* Relleno interno para hacer el texto más legible */
    width: 100%; /* Aprovecha todo el ancho disponible */
    max-width: 300px; /* Limita el ancho máximo a 300px para evitar un input demasiado largo */
}

button {
    margin-top: 10px; /* Espacio superior para separar del formulario */
    padding: 10px 20px; /* Relleno interno para hacer el botón más fácil de hacer clic */
    background-color: #f1d585; /* Color de fondo del botón */
    color: rgb(38, 119, 185); /* Color del texto del botón */
    border: none; /* Sin borde para el botón */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Agrega una transición suave para el cambio de color */
}

button:hover, button:focus, button:active {
    background-color: #bb0606; /* Cambia el color de fondo al pasar el ratón, enfocar o hacer clic en el botón */
    outline: none; /* Remueve el contorno que algunos navegadores añaden en focus */
}

#resultado {
    margin-top: 20px; /* Espacio después del contenido del formulario */
    padding: 10px; /* Relleno interno para el contenido */
    background-color: #fff; /* Fondo blanco para el contenido */
    border: 1px solid #ddd; /* Borde sutil para delinear el área de resultado */
}