body {
    background-image: url('images/img1.jpg'); /* Asegúrate de que la extensión de la imagen sea correcta (jpg, png, etc.) */
    background-size: cover; /* Esto asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Esto centra la imagen */
    background-repeat: no-repeat; /* Esto evita que la imagen se repita */
}


h1 { 
    color: hwb(33 75% 6%);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f1d585;
    color: rgb(38, 119, 185);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #bb0606;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
